body, html {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", sans-serif;
	background-color: #151515;
	color:white;
	display: flex;
	justify-content: center;
	align-items: flex-start; 
	min-height: 100vh;
	font-size:18px;
}
p {
	line-height: 1.5;
	text-align: justify;
}
a {
	color: #8DA3B9; 
}
.container {
	display: flex;
	max-width: 1200px; 
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
  @include for-phone-only {
    width: 100%;
  }
}
.text-container {
	padding: 20px;
	padding-left:13rem;
}
.side-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
	position:fixed;
}
.side-panel img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 20px;
}
.side-panel .panel-text {
	margin-bottom: 20px;
	text-align:center;
}
img {
	max-width: 150px;
	max-height: 150px;
	width: auto; 
	height: auto; 
}
