.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-variation-settings:
	"slnt" 0;
}
body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
p {
	font-size:1em;
}
.header {
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 100%;
	background-color: #151515;
	position: fixed;
	top: 0;
	left: 0;
}
.header .nav {
	display: flex;
}
.header .nav a {
	text-decoration: none;
	font-size: 30px;
	font-weight: semi-bold;
	font-weight: 600;
	color: white;
	padding: 5px 10px;
}
.container {
	display: flex;
	max-width: 40%;
	background-color: #fff;
	margin-top: 5rem;
	padding-left:25%;
}
.text-container {
	flex: 3;
	padding: 20px;
	padding-left:13rem;
}
.side-panel {
	background-color: #151515;
	color:white;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
	position:fixed;
}
.side-panel img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 20px;
}
.side-panel .panel-text {
	margin-bottom: 20px;
	text-align:center;
}
